{% extends 'base2.html' %}
{% load static %}

{% block titulo %}
    Insuficiente
{% endblock titulo %}
    
{% block contenido %}

    <h2 class="error-message">El producto no se encuentra con la cantidad que se intento vender</h2>

    <br>
    <h2>Revise las cantidades en la lista de productos</h2>
    <img src="{% static 'img/empty-box.png' %}" alt="Caja vacia" height="500px">
    
    <style>
        .error-message {
             color: #ff0000; /* Red text color */
             font-weight: bold; /* Make the text bold */
             background-color: #ffecec; /* Light red background color */
             border: 1px solid #ff0000; /* Red border */
             padding: 10px; /* Add some padding around the message */
        }

    </style>
    
{% endblock contenido %}

